<!doctype html>
<html lang="pt-br" ng-app="listaTelefonica">
  <head>
    <title>Lista Telefônica</title>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css">

    <!--Styles -->
    <style>
        .jumbotron h4{
            text-align: center;
            font-size: 40px;
        }
        
        .table{
            margin-top:30px;
        
        }
        .form-control{
            margin-bottom:5px; 
        }

        .selecionado{
            background-color: yellow;
        }

        .negrito{
            font-weight: bold;
        }
    
    </style>

    <!-- Scripts -->
    <script src="lib/angular/angular.min.js"></script>
    <script>
        angular.module("listaTelefonica",[]);
        angular.module("listaTelefonica").controller('listaTelefonicaController',function($scope){
            $scope.app="Lista Telefônica";
            $scope.contatos = [
                {nome:"Pedro", telefone:"99998888"},
                {nome:"Ana", telefone:"99998877"},
                {nome:"Maria", telefone:"99998866"}
                
            ];

            $scope.operadoras = [
                {nome:"Oi",codigo:14,categoria:"Celular"},
                {nome:"Vivo",codigo:15,categoria:"Celular"},
                {nome:"Tim",codigo:41,categoria:"Celular"},
                {nome:"GVT",codigo:25,categoria:"Fixo"},
                {nome:"Embratel",codigo:21,categoria:"Fixo"}
            ];

            $scope.adicionarContato = function(contato){
                $scope.contatos.push(angular.copy(contato));
                delete $scope.contato; //Limpa do objeto o valor através de js
            }

            $scope.apagarContatos= function(contatos){
                //Estudar a função filter do js Desvendando a linguagem js episódio 8
                $scope.contatos = contatos.filter(function(contato){
                    if(!contato.selecionado) return contato;
                });

            };
            
            $scope.isContatoSelecionado = function(contatos){
                   return contatos.some(function(contato){
                        return contato.selecionado;
                   }) ;
            };


        });

    </script>

  </head>
  <body ng-controller="listaTelefonicaController">
      
        <div class="container">
            <div class="jumbotron">
                <h4>{{app}}</h4>
                <table class="table" ng-show="contatos.length" >
                    <tr>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>Operadora</th>
                    </tr>
                    <tr ng-class="{'selecionado negrito' :contato.selecionado}" ng-repeat="contato in contatos">
                        <!--Lembrar em js null undefined vazio e falso é evaluado para falso -->
                        <!--Lembrar disso para ajustar o codigo -->
                        <td><input type="checkbox" ng-model="contato.selecionado"/></td>
                        <td>{{contato.nome}}</td>
                        <td>{{contato.telefone}}</td>
                        <td>{{contato.operadora.nome}}</td>
                    </tr>

                </table>
                <hr/>

                é valido {{contatoForm.$valid}}
                é invalido{{contatoForm.$invalid}}

                <form name="contatoForm">
                    <input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true" />
                    <input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true" />
                    
                    <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
                        <option value="">Selecione uma Operadora</option> <!--Não permite Inserir o objeto-->
                    </select>
                </form>
                <div ng-show="contatoForm.nome.$invalid" class="alert alert-danger">
                    Por favor, preencha o campo nome!
                </div>
                <div ng-show="contatoForm.telefone.$invalid" class="alert alert-danger">
                        Por favor, preencha o campo telefone!
                    </div>

                <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
                <button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-show="isContatoSelecionado(contatos);">Apagar Contatos</button>
                <!-- Continuar a aula 4 a Partir de 10 minutos-->
                {{contato}}

            </div> <!-- Fim da Div do Jumbotron-->
        </div> <!-- Fim da Div Container-->
        <div ng-include="'footer.html'">

        </div>
      
        

  </body>
</html>